.card-container {
  position: relative;
  border-radius: 10px;
  width: 350px;
  height: 500px;

  display: flex;
  overflow: hidden;
  margin-top: 10px;
}

.card-img {
  min-width: 100%;
  min-height: 100%;
  transition: 0.5s;
}

.card-img:hover {
  transform: scale(1.1);
}
